body {
    font-family: 'Oswald', sans-serif;
    background-color: darkslategray;
}

/* Content */
#field {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    position: absolute;
    max-width: 75%;
    left: 0;
    right: 0;
    height: auto;
    width: auto\9; /* ie8 */
}

#ball {
    width: 2.5%;
    z-index: 2;
}

.player {
    width: 15%;
    z-index: 1;
    position: absolute;
}

.player h1 {
    margin: 0;
    text-align: center;
    font-size: 30px;
    color: white;
}

.number {
    margin-left: auto;
    margin-right: auto;
    background-color: skyblue;
    color: white;
    border-radius: 50px;
    border: 1px solid whitesmoke;
    width: 75px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    font-size: 50px;
}
